/* font: import ================================================ */
@font-face {
  font-family: 'Menlo';
  src: url('./font/Menlo-Regular_RadioClub.woff') format('woff');
  src: url('./font/Menlo-Regular_RadioClub.woff2') format('woff2');
}

@font-face {
  font-family: 'AppleChancery';
  src: url('./font/AppleChancery.woff') format('woff');
}


/* text: drag color ================================================ */
::selection {
  color: white;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}

/* Code for Firefox */
::-moz-selection { 
  color: white;
  text-shadow: 0 0px 6px yellow;
  text-decoration: none;
  /* color: #000000 !important;
  background: #ffffff !important; */
}


/* text: default ================================================ */
html,body {
  font-family: Arial, sans-serif; 
  font-size: 13px;
  color: #333;
}


button {
  font-size: 13px;
}

button:hover {
  color: white;
  text-shadow: 0 0px 6px yellow;
}

button.active {
  color: white;
  text-shadow: 0 0px 6px yellow;
}

a {
  color: green;
  text-decoration: none;
}

.menu-L a,
.menu-C a,
.menu-R a,
.footer a {
  color: #727272;
  text-decoration: none;
  cursor: pointer;
}

.menu-L a:hover,
.menu-C a:hover,
.menu-R a:hover,
.footer a:hover {
  color: white;
  text-shadow: 0 0px 6px rgb(255, 255, 183);
}

h2 {
  margin-block-start: 0;
  margin-block-end: 36px;
  font-family: AppleChancery;
  font-size: 24px;
  text-align: center;
}

h3 {
  font-family: AppleChancery;
  font-size: 17px;
}

p {
  margin-block-start: 38px;
  margin-block-end: 20px;
}

figcaption {
  font-style: italic;
  font-size: 12px;
  color: #767676;
}

sup {
  vertical-align: text-top;
}


ol {
  margin-block-start: 100px;
  /* margin-block-end: 1em; */
  padding-inline-start: 20px;
}

li {
  padding-bottom: 10px;
}


/* code ================================================ */
code {
  font-size: 12px;
}

.codebox {
  padding: 10px 12px 12px 12px;
  border-style: ridge;
}

.codecaption {
  padding-top: 2px;
  font-style: italic;
  font-size: 12px;
  color: #767676;
}